.post-item:hover{
    -webkit-box-shadow: 10px 10px 5px -5px rgba(91, 130, 159, 0.6);
    -moz-box-shadow: 10px 10px 5px -5px rgba(91, 130, 159, 0.6);
    box-shadow: 10px 10px 5px -5px rgba(91, 130, 159, 0.6);
}

.social-networks img:hover{
    transition: .1s linear all;
    filter: invert(100%);
}

.primary-navigation li:hover{
    transition: .1s ease-in all;
    background: #ffa600;
    border-radius: 10px;
}

.primary-navigation li:not(:hover){
    transition: .1s ease-in all;
    background: none;
    border-radius: 10px;
}


.read-button:hover{
    transition: .2s linear all;
    transform: scale(1.1);
}

.read-button:not(:hover){
    transition: .2s linear all;
    transform: scale(1.0);
}
.logo{
    position: relative;
}

.logo::before{
    height: 100%;
    /* z-index: -1; */
    content: "";
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    background: #ffa600;
    width: 0px;
}

.logo:hover::before{
    width: 100%;
    transition: 1s linear all;
}